###  Topic Modeling

In [19]:
#from gensim import corpora, models, similarities
import pandas as pd
import numpy as np

In [20]:
documents_df = pd.read_csv('sample_news1.csv',names=['text'],encoding="Windows-1252" )

In [21]:
pd.set_option("display.max_colwidth",200)

In [23]:
documents_df.shape

(14, 1)

In [24]:
documents = documents_df['text'].tolist()

In [25]:
documents[0:3]

['Sport and athletics are provided by a number of clubs, notably the Touring Club Italiano, founded in 1894.',
 "Volleyball is the sport of choice at Flannagan's and there are four volleyball courts with nightly games",
 'PH volleyball sport chief confident of national team’s medal chances in 2019 SEA Games']

In [26]:
# Text Cleaning and pre processing 
# Stop word removal
from nltk.corpus import stopwords
stoplist = stopwords.words('english')  

stoplist

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [27]:
document = documents[0]
document

'Sport and athletics are provided by a number of clubs, notably the Touring Club Italiano, founded in 1894.'

In [28]:
[word for word in document.lower().split() if word.lower() not in stoplist]

['sport',
 'athletics',
 'provided',
 'number',
 'clubs,',
 'notably',
 'touring',
 'club',
 'italiano,',
 'founded',
 '1894.']

In [29]:
documents

['Sport and athletics are provided by a number of clubs, notably the Touring Club Italiano, founded in 1894.',
 "Volleyball is the sport of choice at Flannagan's and there are four volleyball courts with nightly games",
 'PH volleyball sport chief confident of national team’s medal chances in 2019 SEA Games',
 'sport  volleyball coaching great Nes Pamilar passes away at 52',
 'Expect major changes in PH men’s volleyball sport team for SEA Games',
 'At cricket sport  he was equally good as a bat and as a wicket-keeper',
 'Provision is made for cricket sport in a number of the parks',
 'Kennington Oval is the ground of the Surrey County Cricket sport Club',
 'Data Science is primarily used to make decisions and prediction by data analysis',
 'Data Science uses predictive algorithm by exploring data analysis',
 'Data Science is for data analysis',
 'Data Science and Data mining',
 'Data Science is the study of information extraction',
 'Data Science is used mine large amount of data']

In [30]:
# remove stop words
texts = [[word for word in record.lower().split() if word not in stoplist]
         for record in documents]

texts

[['sport',
  'athletics',
  'provided',
  'number',
  'clubs,',
  'notably',
  'touring',
  'club',
  'italiano,',
  'founded',
  '1894.'],
 ['volleyball',
  'sport',
  'choice',
  "flannagan's",
  'four',
  'volleyball',
  'courts',
  'nightly',
  'games'],
 ['ph',
  'volleyball',
  'sport',
  'chief',
  'confident',
  'national',
  'team’s',
  'medal',
  'chances',
  '2019',
  'sea',
  'games'],
 ['sport',
  'volleyball',
  'coaching',
  'great',
  'nes',
  'pamilar',
  'passes',
  'away',
  '52'],
 ['expect',
  'major',
  'changes',
  'ph',
  'men’s',
  'volleyball',
  'sport',
  'team',
  'sea',
  'games'],
 ['cricket', 'sport', 'equally', 'good', 'bat', 'wicket-keeper'],
 ['provision', 'made', 'cricket', 'sport', 'number', 'parks'],
 ['kennington',
  'oval',
  'ground',
  'surrey',
  'county',
  'cricket',
  'sport',
  'club'],
 ['data',
  'science',
  'primarily',
  'used',
  'make',
  'decisions',
  'prediction',
  'data',
  'analysis'],
 ['data',
  'science',
  'uses',
  'predictive',
  'algorithm',
  'exploring',
  'data',
  'analysis'],
 ['data', 'science', 'data', 'analysis'],
 ['data', 'science', 'data', 'mining'],
 ['data', 'science', 'study', 'information', 'extraction'],
 ['data', 'science', 'used', 'mine', 'large', 'amount', 'data']]

In [31]:
# remove junk words using regex
import re

texts = [[word for word in document if re.match('[a-zA-Z\-][a-zA-Z\-]{2,}', word)]
         for document in texts]

texts

[['sport',
  'athletics',
  'provided',
  'number',
  'clubs,',
  'notably',
  'touring',
  'club',
  'italiano,',
  'founded'],
 ['volleyball',
  'sport',
  'choice',
  "flannagan's",
  'four',
  'volleyball',
  'courts',
  'nightly',
  'games'],
 ['volleyball',
  'sport',
  'chief',
  'confident',
  'national',
  'team’s',
  'medal',
  'chances',
  'sea',
  'games'],
 ['sport',
  'volleyball',
  'coaching',
  'great',
  'nes',
  'pamilar',
  'passes',
  'away'],
 ['expect',
  'major',
  'changes',
  'men’s',
  'volleyball',
  'sport',
  'team',
  'sea',
  'games'],
 ['cricket', 'sport', 'equally', 'good', 'bat', 'wicket-keeper'],
 ['provision', 'made', 'cricket', 'sport', 'number', 'parks'],
 ['kennington',
  'oval',
  'ground',
  'surrey',
  'county',
  'cricket',
  'sport',
  'club'],
 ['data',
  'science',
  'primarily',
  'used',
  'make',
  'decisions',
  'prediction',
  'data',
  'analysis'],
 ['data',
  'science',
  'uses',
  'predictive',
  'algorithm',
  'exploring',
  'data',
  'analysis'],
 ['data', 'science', 'data', 'analysis'],
 ['data', 'science', 'data', 'mining'],
 ['data', 'science', 'study', 'information', 'extraction'],
 ['data', 'science', 'used', 'mine', 'large', 'amount', 'data']]

In [32]:
documents[0:3]

['Sport and athletics are provided by a number of clubs, notably the Touring Club Italiano, founded in 1894.',
 "Volleyball is the sport of choice at Flannagan's and there are four volleyball courts with nightly games",
 'PH volleyball sport chief confident of national team’s medal chances in 2019 SEA Games']

####  SKlearn based BOW and LSI

In [33]:
# Build the LSI Models ( 2 topics)

# LSI transforms documents from either bag-of-words or TfIdf-weighted space into a latent space of a lower dimensionality.

In [34]:
# LSA (TruncatedSVD in sklearn) 
from sklearn.decomposition import TruncatedSVD
from sklearn.feature_extraction.text import CountVectorizer

In [35]:
# Build the LSI Models ( 2 topics)

# Using Sklearn Vectorizer , Converting the document to a Bag-of-words counts

vectorizer = CountVectorizer(min_df=2, max_df=.95, stop_words='english', lowercase=True, 
                             token_pattern='[a-zA-Z\-][a-zA-Z\-]{2,}')

x_bow = vectorizer.fit_transform(documents)

In [36]:
vectorizer.get_feature_names()

['analysis',
 'club',
 'cricket',
 'data',
 'games',
 'number',
 'science',
 'sea',
 'sport',
 'team',
 'used',
 'volleyball']

In [37]:
bow_tf_df = pd.DataFrame(x_bow.toarray(), columns=vectorizer.get_feature_names())
print(bow_tf_df.shape)
bow_tf_df

(14, 12)

,analysis,club,cricket,data,games,number,science,sea,sport,team,used,volleyball
0,0,1,0,0,0,1,0,0,1,0,0,0
1,0,0,0,0,1,0,0,0,1,0,0,2
2,0,0,0,0,1,0,0,1,1,1,0,1
3,0,0,0,0,0,0,0,0,1,0,0,1
4,0,0,0,0,1,0,0,1,1,1,0,1
5,0,0,1,0,0,0,0,0,1,0,0,0
6,0,0,1,0,0,1,0,0,1,0,0,0
7,0,1,1,0,0,0,0,0,1,0,0,0
8,1,0,0,2,0,0,1,0,0,0,1,0
9,1,0,0,2,0,0,1,0,0,0,0,0
10,1,0,0,2,0,0,1,0,0,0,0,0
11,0,0,0,2,0,0,1,0,0,0,0,0
12,0,0,0,1,0,0,1,0,0,0,0,0
13,0,0,0,2,0,0,1,0,0,0,1,0

In [38]:
# LSI Model building ( Two Topics )

from sklearn.decomposition import TruncatedSVD


lsi_model = TruncatedSVD(n_components=2)

lsi_transf = lsi_model.fit_transform(x_bow)

print(lsi_transf.shape)

(14, 2)

In [39]:
lsi_model.components_

array([[ 2.49252385e-01,  3.25955481e-16, -3.31390456e-18,
         8.44539058e-01,  2.36048372e-17,  1.05037934e-16,
         4.44232827e-01,  4.76459147e-18,  1.55119378e-16,
         4.76459147e-18,  1.65179368e-01,  3.40191298e-17],
       [ 1.63193583e-16,  1.01108804e-01,  1.50031775e-01,
        -2.40993612e-16,  3.63269054e-01,  1.01108804e-01,
         5.62435072e-17,  2.39066055e-01,  6.32436849e-01,
         2.39066055e-01, -1.52602925e-18,  5.57493099e-01]])

In [ ]:
# These numbers are shwoing as how important the term is in a topic/concept (semantic similarity)
# For the corpus above we used only 2 latent dimensions

In [40]:
### Topics_print_function 
def print_topics(model, vectorizer, top_n=5):
    for idx, topic in enumerate(model.components_):
        print("Topic %d:" % (idx))
        print([(vectorizer.get_feature_names()[i], topic[i])
                        for i in topic.argsort()[:-top_n - 1:-1]])
        
print("LSI Model:")
print_topics(lsi_model, vectorizer)

LSI Model:
Topic 0:
[('data', 0.8445390576666888), ('science', 0.4442328274346926), ('analysis', 0.24925238525888843), ('used', 0.16517936780238474), ('club', 3.2595548139953776e-16)]
Topic 1:
[('sport', 0.6324368489183315), ('volleyball', 0.5574930991220663), ('games', 0.36326905392527964), ('team', 0.23906605463111608), ('sea', 0.23906605463111608)]

In [ ]:
# First-topic :  words “data”, “science” and “analysis” are all related words , contribute in the direction of first topic.
# Second-topic:  words "sport", 'volletball', 'games' , 'team" contribute the most in the direction of second topic.

# First-topic is more related to technologies Data-Sciecne
# Second-topic is more related to Sports 

# These numbers are shwoing as how important the term is in a topic/concept (semantic similarity)

##### LDA Model Building ( Latent Dirichlet Allocation, LDA)

In [ ]:
# LDA is a probabilistic extension of LSA (also called multinomial PCA).
# LDA’s topics can be interpreted # as probability distributions over words.
# These distributions are, just like with LSA,inferred automatically from a training corpus.
# Documents are in turn interpreted as a (soft) mixture of these topics.

In [41]:
# LDA (Latent Dirichlet Allocation )
from sklearn.decomposition import LatentDirichletAllocation

In [42]:
# LDA Model building ( Two Topics )
lda_model = LatentDirichletAllocation(n_components=2)
lda_transf = lda_model.fit_transform(x_bow)
print(lda_transf.shape)

(14, 2)

In [43]:
### Topics_print_function 
def print_topics(model, vectorizer, top_n=5):
    for idx, topic in enumerate(model.components_):
        print("Topic %d:" % (idx))
        print([(vectorizer.get_feature_names()[i], topic[i])
                        for i in topic.argsort()[:-top_n - 1:-1]])
        
print("LDA Model:")
print_topics(lda_model, vectorizer)

LDA Model:
Topic 0:
[('sport', 8.49176091106), ('volleyball', 5.493123501329442), ('games', 3.494681533719862), ('cricket', 3.4902906730588388), ('sea', 2.495098542861201)]
Topic 1:
[('data', 11.495178356628788), ('science', 6.494862532822708), ('analysis', 3.4959826389529676), ('used', 2.496138386429173), ('cricket', 0.5097093269411522)]

##### Transform new document into the LDA and LSI Topics

In [44]:
new_doc = ["Data Scientist is the hottest profession of 2019 according to job listing data",
           "PH volleyball sport chief confident of national team’s medal chances in 2019 SEA Games"]

In [45]:
new_doc_bow = vectorizer.transform(new_doc)

In [46]:
lda_model.transform(new_doc_bow)

array([[0.16718457, 0.83281543],
       [0.91530086, 0.08469914]])

In [ ]:
# this result suggest the topic-1(Technology) has the strogest represenation in the first document.
# topic-0 (Sports) has strong representation in the second document